
:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--background-color: #FFFFFF;
--second-background-color: #F5F4FA;
--contact-color: rgba(255, 255, 255, 0.6);
--color-logo: #000000;
--background-color-hero: #2F303A;
--button-main-hover: #188CE8;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    }

/* header */

.logo {
    color: var(--color-logo);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-down {
    color: var(--background-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-blue {
    color: var(--accent-color);
}

ul {list-style: none;
}

.nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.telephone:hover,
.telephone:focus,
.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

.telephone,
.mail {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* main */

.hero, .footer {background-color: var(--background-color-hero);
}

.title {
    color: var(--background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.title-link {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-site {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.title-name {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    }

/* our team */

.team {
    background-color: var(--second-background-color);
}

.back {
    background-color: var(--background-color)
}

.team-background {
    background-color: var(--background-color);
}

.name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    }

    /* button */

.button {
    color: var(--title-text-color);
    background-color: var(--second-background-color);
    border-color: transparent;
}

.button.main {
    color: var(--background-color);
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    }

.button.secondary {
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    }

.button.main:hover, .button.main:focus {
    cursor: pointer;
    background-color: var(--button-main-hover);
}

.button.secondary:hover, .button.secondary:focus {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--accent-color);
}

/* footer */

.place {
    color: var(--background-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
 }

.contacts {
    color: var(--contact-color);
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
 }

.contacts:hover,
.contacts:focus,
.place:hover,
.place:focus {
    cursor: pointer;
    color: var(--accent-color);
}

/* portfolio */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.link {
    text-decoration: none;
}

.title-photo {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
 }

 .text-photo {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
 }